<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LearnBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @*          <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LearnBlazor/BindProp">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BindProp
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LearnBlazor/DemoProduct">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DemoProduct
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LearnBlazor/ParentComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Parent / Child Relation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <!--NavLink class="nav-link" href="/LearnRouting" Match="NavLinkMatch.Prefix"> -->
            @* <NavLink class="nav-link" href="/LearnRouting#targetElement"> *@
            @* <NavLink class="nav-link" href="/LearnRouting"> *@
            <NavLink class="nav-link" href="/LearnRouting?Param1=32&Param2=Blazor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Routing
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blazorjs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BlazorJS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/lifecycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor LifeCycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blazor-forms">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Forms Demo
            </NavLink>
        </div>
    </nav>
</div>

